<div class="container">
  <!--
  <div class="row">
    <div class="col-sm-12">
      <h2>Grid test con matrice</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <mat-grid-list cols="10" gutterSize="1">
        <mat-grid-tile class="tile"
          *ngFor="let element of elementsBeach"
          (click)="onSelectElementBeach(element.id)"
          style="cursor: pointer;">
            <div *ngIf="!element.isEmpty">
              <img class="center-icon" [src]="getIcon(element.status, element.type)">
              <div *ngIf="element.status != -1" class="center-text">
                <h6>{{ element.id }}</h6>
              </div>
            </div>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </div>-->
  <div class="row">
    <div class="col-sm-12">
      <h2>Map test</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="wrap">
        <div
          *ngFor="let element of elementCoord"
          (click)="onSelectElementBeach(element)"
          [ngClass]="{'cursor' : element.isFree}">
          <div class="child" [ngStyle]="{'top': element.coordY+'px', 'left': element.coordX+'px' }">
            <span class="circle-select" *ngIf="element.isSelect && element.isFree"></span>
            <img class="center-icon" [src]="element.isFree ? pathElementFree : pathElementBusy">
            <!-- <h6 class="align-center">{{ element.id }}</h6> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>