/*Style matrice*/
.tile {
  text-align: center;
  border: 1px solid rgb(200, 200, 200);
}
.center-icon {
  position: relative;
  width: 40px;
  height: 40px;
}
.center-text {
  position: absolute;
  top: 28px;
  right: 37px;
}

/*Style coordinate*/
.wrap {
  position: static;
}
.child {
  position: absolute;
}
.cursor {
  cursor: pointer;
}
.circle-select {
  position: absolute;
  height: 40px;
  width: 40px;
  background-color: rgba(64, 168, 130, 0.5);
  border-radius: 50%;
  z-index: 1;
}
/*
.align-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}*/